body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 30px;
    background-color: #f5f5f5;
    color: #222;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    color: #222;
}

h2 {
    margin-top: 40px;
}

.responsive-svg-container {
    margin-left: auto;
    margin-right: auto;

    width: 100%;
    max-width: 1200px;
}

.responsive-svg-container svg {
    width: 100%;
    height: auto;
    display: block;
}